@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-color: #a680a7;
  width: 100%;
  height: 120vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.informacoesPessoais,
.catalogos,
.sobre,
.duvidas-frequentes {
  gap: 2rem;
  width: 35rem;
}
.informacoesPessoais {
  align-items: center;
}
.informacoesPessoais > img {
  margin-top: 2rem;
  object-fit: cover;
  object-position: 0 -45px;
  width: 100%;
}

.textos-pessoais {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}

.informacoesPessoais h2 {
  text-align: start;
  width: 100%;
  font-family: sans-serif;
}

.informacoesPessoais p,
.sobre p {
  text-align: justify;
  font-size: small;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-items: center;
}

.textos-catalogos,
.textos-sobre {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  margin-top: 2rem;
}

.catalogos,
.duvidas-frequentes {
  display: flex;
  flex-direction: column;
}

.catalogos h3,
.sobre h3,
.duvidas-frequentes h3 {
  text-align: center;
  width: 100%;
}
details {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  margin-top: 2rem;
}
.perguntas summary {
  cursor: pointer;
}

.perguntas ul {
  margin-left: 5%;
}
.logo {
  border-radius: 50%;
}
.card-catalogo {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  min-width: 300px;
  height: 100%;
}

.card-catalogo img {
  width: 100%;
}

.card-catalogo p {
  text-align: justify;
  margin-top: 20px;
}

.botao-faleComigo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(232, 158, 255);
  box-shadow: -3px 3px #626262;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
}

.cards-catalogos {
  display: flex;
  gap: 3rem;
  overflow-x: scroll;
  align-items: center;
  padding: 10px 0;
  overflow-y: hidden;
}

.cards-catalogos::-webkit-scrollbar {
  width: 12px;
}

.cards-catalogos::-webkit-scrollbar-track {
  background: rgb(122, 12, 142);
  border-radius: 20px;
}

.cards-catalogos::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 5px solid rgba(255, 255, 255, 0);
  background-color: rgb(255, 255, 255);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  background-color: #fff;
  padding: 0.5rem 0;
}
header nav {
  align-items: center;
}

.menu-hamburguer {
  background-color: #de92db;
  padding: 20px;
  overflow: hidden;
  position: fixed;
  right: 2rem;
  cursor: pointer;
}

.textos-pessoais a {
  width: 200px;
  margin: 0 auto;
}

.corpofaq {
  overflow: hidden;
  height: 30px;
}

.corpofaq li {
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
.corpofaq li::before {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 50%;
  background: black;
}

.duvidas-frequentes {
  margin-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Courier New", Courier, monospace;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
  background-color: rgba(255, 92, 201, 0.4);
}

.menu-hamburger {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-hamburguer-elements {
  display: flex;
  width: 80%;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}

.menu-hamburguer-elements li {
  list-style: none;
  font-size: 1.4rem;
  margin: 2rem 0;
  width: 100%;
  height: 5%;
  font-size: 1.4rem;
  list-style: none;
}

.menu-hamburguer-elements a {
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 0 5%;
  display: block;
  align-items: center;
  text-align: center;
}

.menu-hamburguer-elements a:hover {
  color: rgba(116, 0, 96, 0.8);
}

/* BOTÃO MENU HAMBURGUER */
.menu {
  background-color: rgb(214, 161, 214);
  width: 60px;
  height: 60px;
  margin: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #ffff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

/* rotação dos elementos do span */
input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ .menu-hamburguer-elements {
  left: 0;
}

.texto-faq {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  margin-top: 2rem;
}

/* ATIVANDO O BOTÃO HAMBURGUER QUANDO O TAMANHO DA TELA ATINGIR 600PX */
@media (max-width: 600px) {
  header {
    height: 20%;
    background-color: rgb(166, 128, 167, 1);
  }

  .menu-hamburguer-elements a:hover {
    background-color: #ffffff94;
    color: rgba(116, 0, 96, 0.8);
  }

  .menu-hamburger {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-self: flex-start;
    overflow: auto;
    z-index: 1;
    color: white;
    position: fixed;
    top: 5%;
    left: 0;
    overflow: hidden;
  }

  .menu-hamburguer-elements {
    width: 60%;
    height: 100%;
    background-color: rgba(255, 131, 245, 0.39);
    position: fixed;
    left: -60%;
    top: 0;

    transition: left cubic-bezier(1, 0, 0, 1) 0.8s;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    z-index: -1;
  }

  .menu {
    display: flex;
    height: 60px;
    width: 60px;
    border: 1px white solid;
  }
  .informacoesPessoais img {
    object-position: 50%;
  }
  .informacoesPessoais,
  .sobre,
  .catalogos,
  .duvidas-frequentes {
    width: 80%;
  }
  .logo {
    width: 100%;
  }
}
